{% extends "base.html" %}
{% block nav %}
    {% if request.user.is_authenticated %}

        {% if perms.webapp.update_issue and user in sketchpad.project.users.all %}
            <li class="nav-item">
                <a class="nav-link" href="{% url "webapp:UpdateSketchpad" sketchpad.pk %}">Редактировать</a>
            </li>
        {% endif %}

        {% if perms.webapp.delete_issue and user in sketchpad.project.users.all %}
            <li class="nav-item">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#sketchpadDeleteModal">Удалить
                </button>
            </li>
        {% endif %}

    {% endif %}
{% endblock %}

{% block content %}

    <h1>Подробная информация <br>
        о задаче:</h1>
    <p>
        <b>Заголовок:</b>
        {{ sketchpad.summary }}
    </p>
    <p>
        <b>Описание:</b>
        {{ sketchpad.description }}
    </p>
    <p>
        <b>Статус:</b>
        {{ sketchpad.status }}
    </p>
    <p><b>Тип:</b>
        {% for type in sketchpad.type.all %}{{ type.type }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    <b>Проект:</b>
    <p>
    <p>{{ sketchpad.project.project_name }}</p>
    </p>
    <a href="{% url "webapp:index" %}">На главную</a>
    <div class="modal fade" id="sketchpadDeleteModal" tabindex="-1" aria-labelledby="sketchpadModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sketchpadDeleteModal">Подтверждение</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Вы уверены, что хотите удалить задачу "{{ sketchpad.summary }}"?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Нет</button>
                    <form action="{% url "webapp:DeleteSketchpad" sketchpad.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Да</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

