{% extends "base.html" %}
{% load static %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "CreateSketchpad" %}">Создание статьи</a>
    </li>
{% endblock %}

{% block content %}
    <br>
    {% include "partial/search.html" %}
    <h1>Задачи:</h1>
    <div class="row">
        {% for sketchpad in sketchpads %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card border-primary bg-light mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ sketchpad.summary }}</h5>
                        <a href="{% url "SketchpadView" sketchpad.pk %}" class="card-link">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="d-flex justify-content-center">
            {% if is_paginated %}
                {% include "partial/pagination.html" %}
            {% endif %}
        </div>
    </div>
{% endblock %}